<div class=" bg-white w-[400px] shadow-lg rounded-[20px]">
    <div class="columns-2 sm:mx-auto sm:w-full py-8 bg-[#FFCF48] rounded-t-[20px] flex justify-between px-8">
        <h1 class="text-center text-2xl font-bold text-black font-bold font-montserrat">Luis</h1>
        <button class="bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="logOut()" routerLink="/login">
            Salir
        </button>
    </div>

    <div class="mx-auto text-center py-8 px-8  flex-col items-center justify-center">

        <div class="columns-1 shadow-2xl rounded-2xl p-6 m-3">
            <h2 class="text-center text-black text-xl font-bold font-montserrat">Tus puntos</h2>

            <p class="font-bold text-black text-5xl mt-5 font-montserrat">240 <span class="text-2xl">pts</span></p>
        </div>

        <div class="columns-2 mt-10">
            <a [routerLink]="['/lector']" routerLinkActive="router-link-active"
                class="flex w-full bg-[#FFCF48] justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 ">Escanear
                QR</a>

            <a class="flex w-full bg-[#FFCF48] justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 "
                [routerLink]="['/rewards']" routerLinkActive="router-link-active">Canjea</a>
        </div>

    <div class="mt-8">  
        <h2 class="text-center text-black text-xl font-bold font-montserrat">Historial</h2>
        <ul class="text-left mt-10">
            <li class="font-bold font-roboto border-b-2 border-gray-300 pb-2 mb-2">Elemento 1</li>
            <li class="font-bold font-roboto border-b-2 border-gray-300 pb-2 mb-2">Elemento 2</li>
            <li class="font-bold font-roboto border-b-2 border-gray-300 pb-2 mb-2">Elemento 3</li>
            <li class="font-bold font-roboto border-b-2 border-gray-300 pb-2 mb-2">Elemento 4</li>
            <li class="font-bold font-roboto border-b-2 border-gray-300 pb-2 mb-2">Elemento 5</li>
        </ul>
    </div>


    </div>
</div>