<button type="button" id="deleteProductButton" data-drawer-target="drawer-delete-product-default"
    data-drawer-show="drawer-delete-product-default" aria-controls="drawer-delete-product-default"
    data-drawer-placement="right"
    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900" (click)="deleteQr()">
    <i class="fa-solid fa-trash"></i>
    Elimina QR
</button>