<table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
    <thead class="bg-gray-100 dark:bg-gray-700">
        <tr>
           
            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                Código
            </th>
            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                Tipo
            </th>
            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                Description
            </th>
            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                Puntos Asociados
            </th>
            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                Actions
            </th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">

        <tr class="hover:bg-gray-100 dark:hover:bg-gray-700" *ngFor="let qr of listQr">
            <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                <div class="text-base font-semibold text-gray-900 dark:text-white">{{ qr.codigo }}</div>
            </td>
            <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ qr.tipo }}</td>
            <td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs dark:text-gray-400">
                {{ qr.descripcion }}
            </td>
            <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ qr.puntos_asociados}}</td>
            <td class="p-4 space-x-2 whitespace-nowrap">
                <button type="button" id="updateProductButton" data-drawer-target="drawer-update-product-default"
                    data-drawer-show="drawer-update-product-default" aria-controls="drawer-update-product-default"
                    data-drawer-placement="right"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <i class="fa-solid fa-pen"></i>
                    Actualiza QR
                </button>
                <button type="button" id="deleteProductButton" data-drawer-target="drawer-delete-product-default"
                    data-drawer-show="drawer-delete-product-default" aria-controls="drawer-delete-product-default"
                    data-drawer-placement="right"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900">
                    <i class="fa-solid fa-trash"></i>
                    Elimina QR
                </button>
                <button type="button" id="deleteProductButton" data-drawer-target="drawer-delete-product-default"
                    data-drawer-show="drawer-delete-product-default" aria-controls="drawer-delete-product-default"
                    data-drawer-placement="right"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-primary rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900">
                    <i class="fa-solid fa-download"></i>
                    Genera QR
                </button>
            </td>
        </tr>
    </tbody>
</table>